<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
  </head>
  
  <body>
    <div class="container-fluid">
        <form action="dulces_agregar" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Código</label>
                    <input type="text" name="codigoD" class="form-control">
                </div>
                <div class="form-group col-md-4">            
                    <label">Nombre del Producto</label>
                    <input type="text" name="nombreD" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>cantidad</label>
                    <select name="cantidad" class="form-control">
                        <option value="seleccione cantidad" selected>Seleccione Cantidad</option>
                        <option value="150g">150g</option>
                        <option value="500g">500g</option>
                        <option value="1k">1k</option>
                        <option value="5 personas">5 personas</option>
                        <option value="10 personas">10 personas</option>
                        <option value="15 personas">15 personas</option>
                        <option value="20 personas">20 personas</option>
                        <option value="25 personas">25 personas</option>
                        <option value="30 personas">30 personas</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Precio</label>
                    <input type="number" name="precioD" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Ingrediente Principal</label>
                    <input type="text" name="ingredienteP" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Email de Contacto</label>
                    <input type="email" name="correo" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Descripcion Producto</label>
                    <textarea name="descripcion" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-4">
                    <label>Fecha de Envio</label>
                    <input type="date" name="fecha" class="form-control">
                </div>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" name="opc" value="agregar" class="btn btn-success">
                <input type="submit" name="opc" value="atras" class="btn btn-success">
            </div>
            <div id="idMensajes">
                {% if mensaje %}
                    {{mensaje}}
                {% endif%}
            </div>
        </form>
    </div>
            
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>